# 1유형 6번

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('ds/p210303.csv')
df

,country,iso2,iso3,iso_numeric,g_whoregion,year,new_sp,new_sn,new_su,new_ep,...,hiv_elig_all_tpt,hiv_elig_all,hiv_elig_new_tpt,hiv_elig_new,hiv_all_tpt,hiv_all,hiv_new_tpt,hiv_new,hiv_all_tpt_completed,hiv_all_tpt_started
0,Afghanistan,AF,AFG,4,EMR,1980,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AF,AFG,4,EMR,1981,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AF,AFG,4,EMR,1982,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AF,AFG,4,EMR,1983,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AF,AFG,4,EMR,1984,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8702,Zimbabwe,ZW,ZWE,716,AFR,2016,NaN,NaN,NaN,2915.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8703,Zimbabwe,ZW,ZWE,716,AFR,2017,NaN,NaN,NaN,2657.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8704,Zimbabwe,ZW,ZWE,716,AFR,2018,NaN,NaN,NaN,2547.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8705,Zimbabwe,ZW,ZWE,716,AFR,2019,NaN,NaN,NaN,1957.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8706,Zimbabwe,ZW,ZWE,716,AFR,2020,NaN,NaN,NaN,1140.0,...,156512.0,495655.0,39661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = df[['country', 'year', 'new_sp']].dropna()

In [24]:
mean = df[df['year'] == 2000]['new_sp'].mean()
mean

7865.341836734694

In [28]:
country = df[(df['year'] == 2000) & (df['new_sp'] >= mean)]
country

                                    country  year    new_sp
102                                 Algeria  2000    8328.0
225                                  Angola  2000    9053.0
676                              Bangladesh  2000   38484.0
1127                                 Brazil  2000   41186.0
1414                               Cambodia  2000   14822.0
1701                                  China  2000  204765.0
1824                               Colombia  2000    8358.0
2029                          Côte d'Ivoire  2000   10276.0
2245  Democratic People's Republic of Korea  2000   16440.0
2286       Democratic Republic of the Congo  2000   36513.0
2778                               Ethiopia  2000   30510.0
3680                                  India  2000  349374.0
3721                              Indonesia  2000   52338.0
4008                                  Japan  2000   11853.0
4090                             Kazakhstan  2000    8903.0
4131                                  Kenya  2000   28773.0
4664                                 Malawi  2000    8260.0
4705                               Malaysia  2000    8156.0
4992                                 Mexico  2000   11676.0
5213                                Morocco  2000   12872.0
5254                             Mozambique  2000   13257.0
5295                                Myanmar  2000   17254.0
5418                                  Nepal  2000   13683.0
5694                                Nigeria  2000   17423.0
6186                                   Peru  2000   22580.0
6227                            Philippines  2000   67056.0
6432                      Republic of Korea  2000    8216.0
6514                                Romania  2000   10202.0
6555                     Russian Federation  2000   27467.0
7304                           South Africa  2000   75967.0
7437                                  Sudan  2000   12311.0
7683                               Thailand  2000   17754.0
8112                                 Uganda  2000   17246.0
8153                                Ukraine  2000   10738.0
8276            United Republic of Tanzania  2000   24049.0
8522                               Viet Nam  2000   53169.0
8645                                 Zambia  2000   12927.0
8686                               Zimbabwe  2000   14392.0

In [29]:
len(country['country'].value_counts())

38